@import url("./page-footer.css");

:root {
  /* Brand Colors */
  --brand-primary: rgb(12, 21, 42);
  --brand-secondary: rgb(0, 145, 208);
  --brand-accent: rgb(50, 54, 149);
  --brand-danger: rgb(219, 65, 57);
  --brand-warning: rgb(241, 181, 29);
  --brand-neutral: rgb(244, 244, 244);
  --brand-success: rgb(0, 142, 71);
  --brand-info: rgb(68, 200, 245);

  /* Primary Colors */
  --ifm-color-primary: #015183;
  --ifm-color-primary-dark: #014976;
  --ifm-color-primary-darker: #01456f;
  --ifm-color-primary-darkest: #01395c;
  --ifm-color-primary-light: #015990;
  --ifm-color-primary-lighter: #015d97;
  --ifm-color-primary-lightest: #0169aa;
}

[data-theme="dark"] {
  /* Primary Colors */
  --ifm-color-primary: #45caf5;
  --ifm-color-primary-dark: #27c2f3;
  --ifm-color-primary-darker: #18bdf3;
  --ifm-color-primary-darkest: #0ba0d1;
  --ifm-color-primary-light: #63d2f7;
  --ifm-color-primary-lighter: #72d7f7;
  --ifm-color-primary-lightest: #9ee3fa;
  --ifm-background-color: #0c152a;
}
